[submodule "home-dotfiles/vimbundles/rails"]
	path = home-dotfiles/vimbundles/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "home-dotfiles/vimbundles/haml"]
	path = home-dotfiles/vimbundles/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "home-dotfiles/vimbundles/nerdtree"]
	path = home-dotfiles/vimbundles/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "home-dotfiles/vimbundles/vividchalk"]
	path = home-dotfiles/vimbundles/vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
[submodule "home-dotfiles/vimbundles/matchit"]
	path = home-dotfiles/vimbundles/matchit
	url = http://github.com/tsaleh/vim-matchit.git
[submodule "home-dotfiles/vimbundles/fugitive"]
	path = home-dotfiles/vimbundles/fugitive
	url = http://github.com/tpope/vim-fugitive.git
